@use "../utilities/variables" as*;
@use "../utilities/mixins" as*;
.footer{
    background-color: $grey;
    &__container{
        @include flex(space-around,flex-start);
        &__content{
            ul{
                // background-color: $light-grey;
                li{
                    @include flex(flex-start,center);

                    list-style-type: none;
                    padding: 1em;
                
                }
            }
            p{
                
            }
            h3{
text-align: center;
margin-top: 1em;
font-size: 2rem;
color: $black;
            }
            h2{
                margin-top: 1em;
                text-align: center;
            span{
                color:orange;
            }
margin-bottom: 0.5em;
font-size: 2rem;
            }
            p{
                font-size: 1rem;
                color: $white;
                margin-top: 1em
            }
            img{
                margin: 1em;
            }
        }
    }
}